html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, 
.

-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}


.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid, input.input-validation-error, select.input-validation-error {
    border: 1px solid #e50000 !important;
    background-color: #fff5f5;
}

.validation-message {
    color: #e50000;
    font-size: 13px;
    margin-top: 4px;
    display: block;
}


.blazor-error-boundary {
    background: #b32121;
    padding: 1rem;
    color: white;
}


.auth-container, .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 40px auto;
    height: 80vh;
    border-radius: 20px;
    overflow: hidden;
    background: #4a47a3;
    color: white;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
}

.auth-left {
    flex: 1;
    color: white;
    text-align: center;
    padding: 40px;
}

.auth-left h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.auth-left p {
    font-size: 16px;
    line-height: 1.4;
    color: #ddd;
}

.auth-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Auth card */
.auth-card {
    background: #fff;
    padding: 35px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    text-align: center;
    color: #333;
}

.auth-card h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #3f3da6;
}

/* Google button */
.google-btn {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s ease;
}

.google-btn:hover {
    background: #f5f5f5;
    border-color: #aaa;
}

.google-btn img {
    width: 20px;
    height: 20px;
}